@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.7;
    color: #2b2b2b;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient( 180deg, #f69f9c 0%, #f4e794 25.52%, #c7fc9f 50.52%, #9bc4ef 75%, #cfb0ef 100%);
}

ul,
li,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

.container {
    max-width: 1360px;
    margin: auto;
    padding: 0 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.cpb-6 {
    padding-bottom: 100px;
}

.cpy-6 {
    padding: 100px 0;
}

.cmy-6 {
    margin: 100px 0;
}

.custom-btn {
    background: linear-gradient(180deg, #aa29ad 0%, #b749f0 100%);
    border: 4px solid rgb(227 107 249 / 70%);
    padding: 8px 30px;
    border-radius: 47px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    display: inline-flex;
    font-weight: 800;
    align-items: center;
    cursor: pointer;
}

.custom-btn span {
    margin-left: 20px;
    display: flex;
}

img {
    max-width: 100%;
}


/* ====================hero section==================== */

.hero-section {
    background-image: url(../img/hero-bg.png);
    padding-top: 150px;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

ul.social-ul {
    display: flex;
    align-items: center;
}

a.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    transition: 0.3s;
}

a.social-link:hover {
    transform: scale(1.2);
}

.row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-section-left p {
    font-weight: 500;
    font-size: 24px;
}

p.hero-price {
    color: #fff;
    margin: 20px 0;
}

a.follow-more {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
}

a.follow-more:hover {
    color: #aa29ad;
}

.hero-img img {
    width: 90%;
}

.hero-img {
    text-align: right;
}

.gift-area {
    text-align: center;
    line-height: 20px;
    font-weight: 700;
    font-size: 16px;
    color: #2a2a2a;
}


/* =================about ================== */

.row-46 {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
}

.about-des p {
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    color: #2b2b2b;
}


/* =========================collection========================= */

.row-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.collection-item img {
    width: 100%;
}

.collection-content {
    margin-top: 50px;
}

.section-title {
    width: 80%;
    margin: auto;
    text-align: center;
}

a.more-view {
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: #aa29ad;
    display: block;
    margin-top: 20px;
    transition: 0.3s;
}

a.more-view:hover {
    color: #9039ce;
}

.section-title p {
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    color: #2b2b2b;
}


/* ===============discover=================== */

.discover-area {
    background-image: url(../img/disctover.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}

.discover-btn {
    text-align: center;
}


/* ====================institutes====================== */

.institutes-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

p.time-text-black {
    font-weight: 800;
    font-size: 23px;
    line-height: 33px;
    text-align: right;
    color: #2a2a2a;
    margin-right: 10px;
}

.institution-item.bg-red {
    background: #fb2601;
}

.institution-item-number {
    font-weight: 800;
    font-size: 26px;
    line-height: 33px;
    color: #ffffff;
}

.institution-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border: 6px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    margin-bottom: 30px;
}

.institution-part-amount {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 26px;
    line-height: 33px;
    color: #ffffff;
}

.part {
    margin-right: 50px;
}

.bg-yellow {
    background: #ffa300;
}

.bg-green {
    background: #42e416;
}

.bg-purple {
    background: #aa29ad;
}

.bg-blue {
    background: #56bcf2;
}

.bg-blue-light {
    background: #8cd4ff;
}

.bg-yellow-light {
    background: #ffc700;
}

img.world-d {
    position: absolute;
    right: 0;
    top: -160px;
}

.institutes-area {
    position: relative;
}

img.world-c {
    position: absolute;
}


/* ====================roadmap================= */

.roadmap-item {
    background: linear-gradient( 180deg, #f69f9c 0%, #f4e794 25.52%, #c7fc9f 50.52%, #9bc4ef 75%, #cfb0ef 100%);
    border: 6px solid rgba(255, 255, 255, 0.2);
    border-radius: 33px;
    position: relative;
    width: 700px;
    padding: 105px;
    margin: auto;
    margin-bottom: 50px;
}

.roadmap-item-inner {
    text-align: center;
}

.roadmap-item-inner h3 {
    font-size: 35px;
    text-transform: uppercase;
}

img.right-road-map {
    position: absolute;
    right: -16%;
    bottom: -25%;
}

img.left-road-map {
    position: absolute;
    bottom: -18%;
    left: -10%;
}

.roadmap-area {
    margin-top: 30px;
}

.roadmap {
    position: relative;
}

img.shape1 {
    position: absolute;
    top: 20%;
}

img.shape2 {
    position: absolute;
    bottom: 20%;
}

img.shape3 {
    position: absolute;
    right: 0;
    top: 0;
}

img.shape4 {
    position: absolute;
    right: 0;
    top: 60%;
}

.team-name-content {
    text-align: center;
    margin-top: 10px;
}

.team-name-content h3 {
    font-weight: 800;
    font-size: 30px;
    line-height: 30px;
    color: #2a2a2a;
    text-shadow: 0px 0px 32px rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
}

.team-name-content p {
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #2b2b2b;
}

.row-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

.team-item-img img {
    width: 100%;
}

.team-name-content .social-follow ul {
    justify-content: center;
    margin-top: 10px;
}

.team-content {
    margin-top: 70px;
}

img.shape-5 {
    position: absolute;
    right: 0;
    top: 50%;
}

.team-sec {
    position: relative;
}


/* =========================contact area =========== */

.contact-area {
    background-image: url(../img/contact-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contact-btn-content {
    text-align: center;
    color: #fff;
}

img.shape-6 {
    position: absolute;
    left: 0;
}


/* ===========================faq========================== */

.question {
    position: relative;
    margin: 0;
    padding: 15px 10px;
    display: block;
    width: 100%;
    cursor: pointer;
    font-weight: 800;
    font-size: 25px;
    line-height: 107.1%;
    color: #2a2a2a;
    text-transform: uppercase;
}

.answers {
    font-weight: 300;
    padding: 0px 15px;
    margin: 0px 0;
    height: 0;
    overflow: hidden;
    position: relative;
    opacity: 0;
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -o-transition: 0.7s ease;
    transition: 0.7s ease;
}

.questions:checked~.answers {
    height: auto;
    opacity: 1;
    padding: 15px;
    padding-top: 0;
}

.plus {
    color: var(--second-color);
    z-index: 5;
    line-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    transition: 0.3s ease;
    font-size: 40px;
}

.questions:checked~.plus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.questions {
    display: none;
}

.faq-div {
    margin-bottom: 30px;
    border-radius: 15px;
    background: linear-gradient( 180deg, #f69f9c 0%, #f4e794 25.52%, #c7fc9f 50.52%, #9bc4ef 75%, #cfb0ef 100%);
    border: 5px solid rgba(255, 255, 255, 0.2);
}

.qustion {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.bg-area {
    background-image: url(../img/faq-star.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.footer-inner {
    text-align: center;
    margin-top: 70px;
}

.faq-content {
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

.footer-area {
    padding-bottom: 25px;
}

img.shape-8 {
    position: absolute;
    right: 0;
    bottom: 50px;
}

img.shape-7 {
    position: absolute;
    bottom: 0;
    left: 0;
}

@media screen and (max-width: 992px) {
    .row-2 {
        grid-template-columns: 1fr;
    }
    .hero-section-left {
        text-align: center;
    }
    ul.social-ul {
        justify-content: center;
    }
    .hero-section-left img {
        margin: auto;
        width: 83%;
    }
    .row-46 {
        grid-template-columns: 100%;
    }
    .about-img {
        text-align: center;
    }
    .about-content {
        text-align: center;
    }
    .row-4 {
        grid-template-columns: 1fr 1fr;
    }
    img.shape-8,
    img.shape-7,
    img.world-c,
    img.world-d {
        display: none;
    }
    .road-map-shape {
        display: none;
    }
    img.shape-6 {
        display: none;
    }
    .row-3 {
        grid-gap: 15px;
    }
    .faq-content {
        width: 95%;
        margin-top: 20px;
    }
    img.shape-5 {
        display: none;
    }
    img.right-road-map {
        position: relative;
        right: 0;
    }
    img.left-road-map {
        position: relative;
        left: 0;
    }
    .roadmap-item {
        width: 100%;
        padding: 10px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .row-3 {
        grid-template-columns: 1fr 1fr;
        grid-gap: 35px;
    }
    .contact-area {
        padding: 50px 0;
    }
    .section-title {
        width: 95%;
    }
}

@media screen and (max-width: 650px) {
    .roadmap-item {
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    .row-3 {
        grid-template-columns: 1fr 1fr;
        grid-gap: 35px;
    }
    .contact-area {
        padding: 50px 0;
    }
    .institution-item {
        display: block;
        text-align: center;
        padding: 10px;
    }
    .institution-part-amount {
        justify-content: center;
        margin-top: 10px;
    }
    p.time-text-black {
        text-align: center;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 550px) {
    img.about-title {
        width: 60%;
    }
    .row-3 {
        grid-template-columns: 1fr;
        grid-gap: 35px;
    }
    .institution-item-number {
        font-size: 18px;
    }
    .institution-part-amount {
        font-size: 18px;
    }
    .navigation-timer {
        width: 100%;
    }
    .timer-area-item {
        width: 40px;
        height: 40px;
        margin: 4px;
        font-size: 15px;
    }
    .discover-area {
        padding: 80px 0;
    }
    .question {
        font-size: 20px;
    }
    .section-title p,
    .about-des p,
    .hero-section-left p {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
    }
}